.azul {
    color: #3AD4F5;
}

#paragrafo {
    font-size: 42px;
    border: solid 5px #0055ff ;
    text-align: center;
}

.div > h1 {
    font-size: 30px;
    color: rgb(183, 12, 102);
}

body {
    background-color: hsl(0deg 0% 19%);
}